.col-xs-12.col-sm-12.col-md-12.col-lg-12
    .panel.panel-info
        .panel-heading
            h3.panel-title Panel title
        .panel-body
            img.img-responsive(src='sl_image', alt='Image')
            