doctype html
html
	head
		meta(charset="utf-8")
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(http-equiv='Cache-control' content='no-cache')
		meta(http-equiv='Expires' content='-1')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0')
		title #{title}

		link(rel='stylesheet' href="/bootstrap/css/bootstrap.min.css")
		link(rel='stylesheet' id='common-styles' href='/bootstrap/css/common_styles.css')
		block test_css_link


		block aggrement_page_css_link
		block inline_css
		style(type='text/css').
			* {
				user-select: none;
				-khtml-user-select: none;
				-o-user-select: none;
				-moz-user-select: -moz-none;
				-webkit-user-select: none;
			}
			::selection { background: transparent;color: inherit;}
			::-moz-selection { background: transparent;color: inherit;}
		script(src="/plugins/jQuery/jQuery-2.1.4.min.js")
		script(src="/plugins/jQuery/jquery.placeholder.js")


		script(type="text/javascript").
			window.oncontextmenu = function () {
				return false;
			}

		//- document.addEventListener("keypress", function(event){
		//-   if(event.which != 122){
		//-     event.preventDefault();
		//-   }

		//-   });
		//- document.addEventListener("keydown", function(event){
		//-   if(event.which != 122){
		//-     event.preventDefault();
		//-   }
		//- });
		//- document.addEventListener("keyup", function(event){
		//-     if(event.which != 122){
		//-     event.preventDefault();
		//- }
		//- });

		block inline_js

		script(src='/plugins/notify.js/notify.min.js')
		script. 
			//- set url parameters
			//- let urlParams = new URLSearchParams(window.location.search)

			//- let url = window.location.href.slice(0,-1)
			//- console.log(window.location.href.slice(0,-1), '--')
			//- if (!urlParams.get('mac_id') || !urlParams.get('ip_add')) {
			//- 	url += '?mac_id=00:00:00:00&ip_add=192.168.1.9'
			//- 	console.log(url)
			//- 	location.href = url
			//- }


			var screenWidth = screen.width;

			if (screenWidth <=801) {
				$("#common-styles").attr('href','/bootstrap/css/common_styles_m_w_800.css')
			} else {
				$("#common-styles").attr('href','/bootstrap/css/common_styles.css')
			}
		block js_link

	body.welcome(oncontextmenu="return false;" ondragstart='return false;' ondrop='return false;')
		block content
